<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    
        <link th:href="@{/style.css}" rel="stylesheet" />
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    
    </head>
    <title>Cargar otros materiales</title>
<body>
    <!-- Menu-->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/vehiculo/listado}">Taller Unlimited SPS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="btn btn-primary btn-lg mr-1 mt-1 patito-ancho" th:href="@{/vehiculo/listado}">Listado</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary btn-lg mr-1 mt-1 patito-ancho" th:href="@{/vehiculo/ingreso}">Agregar Vehiculo</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary btn-lg mr-1 mt-1 patito-ancho" th:href="@{/vehiculo/resumen-gastos}">Resumen Gastos</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title" th:text="${'Cargar otros materiales para ' + vehiculo.placa}" th:object="${vehiculo}">
                </h3>
            </div>
            <div class="card-body">
               
                <form th:action="@{/otros-materiales/guardar/{idTransaccion}(idTransaccion=${vehiculo.id})}" method="POST" th:object="${solicitud}">
    
                    <div class="form-row">
                        <input th:field="*{idTransaccion}" hidden>
                        <div class="form-group col-lg-6  col-sm-12">
                            <label for="tipo">Descripcion</label>
                            <input id="tipo" type="text" class="form-control   patito" name="tipo" th:field="*{tipo}"
                                placeholder="tipo" list="tipos" required />

                                
                        <datalist id="tipos">
                            <option th:each="option : ${tipos}" th:value="${option}" th:text="${option}">
                        </datalist>  

                                
                        </div>           
                        <div class="form-group col-lg-2  col-sm-12">
                            <label for="cantidad">cantidad</label>
                            <input id="cantidad" type="number" class="form-control   patito" name="cantidad" th:field="*{cantidad}"
                                placeholder="cantidad"
                                step="0.01" min="0"
                                 required />
                        </div>     
                        <div class="form-group col-lg-2  col-sm-12">
                            <label for="fechaPedido">fechaPedido</label>
                            <input id="fechaPedido" type="date" class="form-control   patito" name="fechaPedido" th:field="*{fechaPedido}"
                                placeholder="fechaPedido" required />
                        </div>
                        <div class="form-group col-lg-2  col-sm-12">
                            <label for="valorTotal">valorTotal</label>
                            <input id="valorTotal" type="number" class="form-control  patito"  name="valorTotal" th:field="*{valorTotal}"
                                placeholder="valorTotal" 
                                step="0.01" min="0"
                                required />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success m-3 btn-lg patito-ancho">Guardar
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                            <path d="M11 2H9v3h2z"/>
                            <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                          </svg>
                    </button>
        
                    <a class="btn btn-info btn-lg m-3 patito-ancho" th:href="@{/vehiculo/editar/{idTransaccion}(idTransaccion=${vehiculo.id})}">Regresar
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-list-columns-reverse" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                          d="M0 .5A.5.5 0 0 1 .5 0h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 .5m4 0a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10A.5.5 0 0 1 4 .5m-4 2A.5.5 0 0 1 .5 2h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-4 2A.5.5 0 0 1 .5 4h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m-4 2A.5.5 0 0 1 .5 6h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5m-4 2A.5.5 0 0 1 .5 8h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5m-4 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10a.5.5 0 0 1-.5-.5m-4 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m-4 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
                      </svg>             
                      </a>
                </form>
            </div>
    
        </div>
    
    </div>


   

    <div class="container-fluid">
        <h3 class="text-danger" th:text="${'Acumulado L '+calculado}">  </h3>
        <h3 class="text-danger" th:text="${'Planificado L '+planificado}">  </h3>
         <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Descripcion</th>
                    <th>cantidad</th>
                    <th>fechaPedido</th>                    
                    <th>valorTotal</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="i: ${otrosMaterialesList}">
                    <td th:text="${i.tipo}"></td>
                    <td th:text="${i.cantidad}"></td>
                    <td th:text="${i.fechaPedido}"></td>                    
                    <td th:text="${i.valorTotal}"></td>
                    <td>
                        <a th:href="@{/otros-materiales/borrar(id=${i.id})}" class="btn btn-danger patito-sm"  onclick="return confirm('Seguro de borrar');">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path
                                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>