<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <link th:href="@{/style.css}" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

</head>
<title>Control Costos</title>

<body>
     <div class="container">
        <h2>
            SERVICIO DE AUTOS UNLIMITED
        </h2>

        <form action="" th:object="${vehiculo}">
            <h3 th:text="*{'Estado: ' + estadoContrato + ' Numero: ' + id}"></h3>            
            

            <div class="form-row">
                <div class="form-group col-1">
                    <label for="cobradoSegunFactura">Factura</label>
                    <input id="cobradoSegunFactura" type="text" class="form-control" name="cobradoSegunFactura" th:field="*{cobradoSegunFactura}"
                    readonly />
                </div>
                <div class="form-group col-2">
                    <label for="deFecha">Fecha</label>
                    <input id="deFecha" type="text" class="form-control" name="deFecha" th:field="*{deFecha}"
                        readonly />
                </div>
                <div class="form-group col-2">
                    <label for="placa">placa</label>
                    <input id="placa" type="text" class="form-control" name="placa" th:field="*{placa}"
                        readonly />
                </div>
                <div class="form-group col-3">
                    <label for="cliente">cliente</label>
                    <input id="cliente" type="text" class="form-control" name="cliente" th:field="*{cliente}"
                        readonly />
                </div>
                <div class="form-group col-4">
                    <label for="numeroSiniestro">numero Siniestro</label>
                    <input id="numeroSiniestro" type="text" class="form-control" name="numeroSiniestro" th:field="*{numeroSiniestro}"
                        readonly />
                </div>              
            </div>
            <div class="form-row">
                <div class="form-group col-3">
                    <label for="marca">marca</label>
                    <input id="marca" type="text" class="form-control" name="marca" th:field="*{marca}"
                        readonly />
                </div>
                <div class="form-group col-3">
                    <label for="tipoDeVehiculo">tipoDeVehiculo</label>
                    <input id="tipoDeVehiculo" type="text" class="form-control" name="tipoDeVehiculo" th:field="*{tipoDeVehiculo}"
                        readonly />
                </div>
                <div class="form-group col-3">
                    <label for="color">color</label>
                    <input id="color" type="text" class="form-control" name="color" th:field="*{color}"
                        readonly />
                </div>
                <div class="form-group col-3">
                    <label for="anio">año</label>
                    <input id="anio" type="text" class="form-control" name="anio" th:field="*{anio}"
                        readonly />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-2">
                    <label for="fechaIngreso">fechaIngreso</label>
                    <input id="fechaIngreso" type="text" class="form-control" name="fechaIngreso" th:field="*{fechaIngreso}"
                        readonly />
                </div>
                <div class="form-group col-2">
                    <label for="fechaDeEntrega">fechaDeEntrega</label>
                    <input id="fechaDeEntrega" type="text" class="form-control" name="fechaDeEntrega" th:field="*{fechaDeEntrega}"
                        readonly />
                </div>
                <div class="form-group col-4">
                    <label for="pintorEncargado">pintorEncargado</label>
                    <input id="pintorEncargado" type="text" class="form-control" name="pintorEncargado" th:field="*{pintorEncargado}"
                        readonly />
                </div>
                <div class="form-group col-2">
                    <label for="planificadoMateriales">planificadoMateriales</label>
                    <input id="planificadoMateriales" type="text" class="form-control" name="planificadoMateriales" th:field="*{planificadoMateriales}"
                        readonly />
                </div>
                <div class="form-group col-2">
                    <label for="planificadoManoDeObra">planificadoManoDeObra</label>
                    <input id="planificadoManoDeObra" type="text" class="form-control" name="planificadoManoDeObra" th:field="*{planificadoManoDeObra}"
                        readonly />
                </div>
            </div>
            <h2>Repuestos Comprados</h2>
            <table class="table table-dark table-striped  table-sm">               
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Tipo Gasto</th>
                        <th>Cantidad</th>
                        <th>Valor Gasto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="i: ${repuestosComprados}">
                        <td th:text="${i.fechaFactura}"></td>
                        <td th:text="${i.tipoGasto}"></td>
                        <td th:text="${i.cantidad}"></td>
                        <td th:text="${i.valorDelGasto}"></td>
                    </tr>
                </tbody>
            </table>
            <h3 th:text="${'Total repuestos: ' + totalRepuestos}"></h3>
            <h2>
                Otros Gastos y Pintura
            </h2>
            <table class="table table-dark table-striped  table-sm">              
               
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>fecha</th>
                        <th>cantidad</th>
                        <th>valorTotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="i: ${otrosGastos}">
                        <td th:text="${i.tipo}"></td>
                        <td th:text="${i.fechaPedido}"></td>
                        <td th:text="${i.cantidad}"></td>      
                        <td th:text="${i.valorTotal}"></td>                       
                    </tr>              
                </tbody>
            </table>
            <h3 th:text="${'Otros gastos y pinturas: ' + totalPinturas}"></h3>
            <h2>
                Mano de obra
            </h2>
            <table class="table table-dark table-striped  table-sm">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Monto Pago</th>
                        <th>Pintor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="i: ${manoDeObra}">
                        <td th:text="${i.fechaDePago}"></td>
                        <td th:text="${i.montoDePago}"></td>
                        <td th:text="${i.pintor}"></td>                        
                    </tr>              
                </tbody>
            </table>
            <h3 th:text="${'Total mano de obra: ' + totalManoObra}"></h3>

            <div class="form-row">
                <div class="form-group col-6">
                    <label for="totalMateriales">totalMateriales</label>
                    <input id="totalMateriales" type="text" class="form-control" name="totalMateriales" th:value="${totalMateriales}"
                        readonly />
                </div>
                <div class="form-group col-6">
                    <label for="totalGastado">totalGastado</label>
                    <input id="totalGastado" type="text" class="form-control" name="totalGastado" th:value="${totalGastado}"
                        readonly />
                </div>            
            </div>


        </form>
    </div>
</body>

</html>