<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <link th:href="@{/style.css}" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>
<title>Resumen Gastos</title>
<body>
    <!-- Menu-->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/vehiculo/listado}">Taller Unlimited SPS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="btn btn-primary btn-lg mr-1" th:href="@{/vehiculo/listado}">Listado</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary btn-lg mr-1" th:href="@{/vehiculo/ingreso}">Agregar Vehiculo</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary btn-lg mr-1" th:href="@{/vehiculo/resumen-gastos}">Resumen Gastos</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


    <h2>
        Resumen Gastos
    </h2>


    <div class="container-fluid">

        
            <form action="">
                <div class="form-group">
                    <label for="planificadoMateriales">planificadoMateriales</label>
                    <input id="planificadoMateriales" type="month" class="form-control" name="planificadoMateriales"
                        required onchange="actualizar(this)"/>

                </div>
        
                <a id="a" class="btn btn-primary btn-lg m-1" th:href="@{/vehiculo/resumen-gastos/repuestos/txt}" target="_blank">Repuestos comprados por mes</a>
                <a id="b" class="btn btn-primary btn-lg m-1" th:href="@{/vehiculo/resumen-gastos/repuestos/txt}" target="_blank">Mano de obra por mes</a>
                <a id="c" class="btn btn-primary btn-lg m-1" th:href="@{/vehiculo/resumen-gastos/repuestos/txt}" target="_blank">Listado de facturas mensuales</a>

            </form>

    </div>
<script type="text/javascript">
    function actualizar(este){
        var fecha = document.getElementById("planificadoMateriales").value;

        var a = document.getElementById("a");
        var b = document.getElementById("b");
        var c = document.getElementById("c");

        a.href = "/vehiculo/resumen-gastos/repuestos/"+fecha;
        b.href = "/vehiculo/resumen-gastos/mano-obra/"+fecha;
        c.href = "/vehiculo/resumen-gastos/facturas/"+fecha;

    }
</script>

</body>
</html>