<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <link th:href="@{/style.css}" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

</head>
<title>Ingreso Vehiculo</title>

<body>
    <!-- Menu-->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/vehiculo/listado}">Taller Unlimited SPS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="btn btn-primary btn-lg mr-1" th:href="@{/vehiculo/listado}">Listado</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary btn-lg mr-1" th:href="@{/vehiculo/ingreso}">Agregar Vehiculo</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary btn-lg mr-1" th:href="@{/vehiculo/resumen-gastos}">Resumen Gastos</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        <h2>
            MODIFICACION / CONSULTA DE VEHICULOS
        </h2>
        <form action="" th:object="${vehiculo}">

            <div class="form-row" hidden>
                <div class="form-group col-6">
                    <label for="id">id</label>
                    <input id="id" type="text" class="form-control" name="id" th:field="*{id}" placeholder="id"
                        required />

                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-6">
                    <label for="numeroSiniestro">numeroSiniestro</label>
                    <input id="numeroSiniestro" type="text" class="form-control" name="numeroSiniestro"
                        th:field="*{numeroSiniestro}" placeholder="numeroSiniestro" required />

                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-6">
                    <label for="fechaIngreso">fechaIngreso</label>
                    <input id="fechaIngreso" type="text" class="form-control" name="fechaIngreso"
                        th:field="*{fechaIngreso}" placeholder="fechaIngreso" required />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-6">
                    <label for="cliente">cliente</label>
                    <input id="cliente" type="text" class="form-control" name="cliente" th:field="*{cliente}"
                        placeholder="cliente" required />

                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-2">
                    <label for="placa">placa</label>
                    <input id="placa" type="text" class="form-control" name="placa" th:field="*{placa}"
                        placeholder="placa" required />

                </div>

                <div class="form-group col-2">
                    <label for="marca">marca</label>
                    <input id="marca" type="text" class="form-control" name="marca" th:field="*{marca}"
                        placeholder="marca" required />

                </div>

                <div class="form-group col-2">
                    <label for="anio">anio</label>
                    <input id="anio" type="text" class="form-control" name="anio" th:field="*{anio}" placeholder="anio"
                        required />

                </div>

                <div class="form-group col-2">
                    <label for="color">color</label>
                    <input id="color" type="text" class="form-control" name="color" th:field="*{color}"
                        placeholder="color" required />

                </div>

                <div class="form-group col-4">
                    <label for="tipoDeVehiculo">tipoDeVehiculo</label>
                    <input id="tipoDeVehiculo" type="text" class="form-control" name="tipoDeVehiculo"
                        th:field="*{tipoDeVehiculo}" placeholder="tipoDeVehiculo" required />

                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-4">
                    <label for="planificadoManoDeObra">planificadoManoDeObra</label>
                    <input id="planificadoManoDeObra" type="text" class="form-control" name="planificadoManoDeObra"
                        th:field="*{planificadoManoDeObra}" placeholder="planificadoManoDeObra" required />

                </div>

                <div class="form-group col-4">
                    <label for="planificadoMateriales">planificadoMateriales</label>
                    <input id="planificadoMateriales" type="text" class="form-control" name="planificadoMateriales"
                        th:field="*{planificadoMateriales}" placeholder="planificadoMateriales" required />

                </div>

                <div class="form-group col-4">
                    <label for="pintorEncargado">pintorEncargado</label>
                    <input id="pintorEncargado" type="text" class="form-control" name="pintorEncargado"
                        th:field="*{pintorEncargado}" placeholder="pintorEncargado" required />

                </div>
            </div>



            <button type="submit" class="btn btn-success m-3">Guardar</button>





            <div class="form-row col-12">

                <table class="table table-striped  table-sm">
                    <tbody>
                        <tr>
                            <td>
                                <a class="btn btn-primary btn-lg m-1 disabled" th:href="@{/vehiculo/ingreso}"  >solicitud materiales</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-lg m-1"
                                    th:href="@{/solicitud-repuesto/pedido/{id}(id=${vehiculo.id})}">solicitud repuestos</a>
                            </td>                        
                        </tr>
                        <tr>
                            <td>
                                <a class="btn btn-primary btn-lg m-1" th:href="@{/otros-materiales/cargar/{id}(id=${vehiculo.id})}">agregar otros materiales</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-lg m-1" th:href="@{/repuestos/cargar/{id}(id=${vehiculo.id})}">Compra Repuestos</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="btn btn-primary btn-lg m-1" th:href="@{/mano-de-obra/cargar/{id}(id=${vehiculo.id})}">Cargar mano de obra</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-lg m-1" th:href="@{/vehiculo/control-costos/{id}(id=${vehiculo.id})}" target="_blank">ir a control de costos</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </form>



    </div>
</body>

</html>