<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <link th:href="@{/style.css}" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

</head>
<title>Ingreso Vehiculo</title>

<body>


    <div class="container">
        <h2>
            MODIFICACION / CONSULTA DE VEHICULOS
        </h2>
        <form action="" th:object="${vehiculo}">

            <div class="form-row" hidden>
                <div class="form-group col-6">
                    <label for="id">id</label>
                    <input id="id" type="text" class="form-control" name="id" th:field="*{id}" placeholder="id"
                        required />

                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-6">
                    <label for="numeroSiniestro">numeroSiniestro</label>
                    <input id="numeroSiniestro" type="text" class="form-control" name="numeroSiniestro"
                        th:field="*{numeroSiniestro}" placeholder="numeroSiniestro" required />

                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-6">
                    <label for="fechaIngreso">fechaIngreso</label>
                    <input id="fechaIngreso" type="text" class="form-control" name="fechaIngreso"
                        th:field="*{fechaIngreso}" placeholder="fechaIngreso" required />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-6">
                    <label for="cliente">cliente</label>
                    <input id="cliente" type="text" class="form-control" name="cliente" th:field="*{cliente}"
                        placeholder="cliente" required />

                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-2">
                    <label for="placa">placa</label>
                    <input id="placa" type="text" class="form-control" name="placa" th:field="*{placa}"
                        placeholder="placa" required />

                </div>

                <div class="form-group col-2">
                    <label for="marca">marca</label>
                    <input id="marca" type="text" class="form-control" name="marca" th:field="*{marca}"
                        placeholder="marca" required />

                </div>

                <div class="form-group col-2">
                    <label for="anio">anio</label>
                    <input id="anio" type="text" class="form-control" name="anio" th:field="*{anio}" placeholder="anio"
                        required />

                </div>

                <div class="form-group col-2">
                    <label for="color">color</label>
                    <input id="color" type="text" class="form-control" name="color" th:field="*{color}"
                        placeholder="color" required />

                </div>

                <div class="form-group col-4">
                    <label for="tipoDeVehiculo">tipoDeVehiculo</label>
                    <input id="tipoDeVehiculo" type="text" class="form-control" name="tipoDeVehiculo"
                        th:field="*{tipoDeVehiculo}" placeholder="tipoDeVehiculo" required />

                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-4">
                    <label for="planificadoManoDeObra">planificadoManoDeObra</label>
                    <input id="planificadoManoDeObra" type="text" class="form-control" name="planificadoManoDeObra"
                        th:field="*{planificadoManoDeObra}" placeholder="planificadoManoDeObra" required />

                </div>

                <div class="form-group col-4">
                    <label for="planificadoMateriales">planificadoMateriales</label>
                    <input id="planificadoMateriales" type="text" class="form-control" name="planificadoMateriales"
                        th:field="*{planificadoMateriales}" placeholder="planificadoMateriales" required />

                </div>

                <div class="form-group col-4">
                    <label for="pintorEncargado">pintorEncargado</label>
                    <input id="pintorEncargado" type="text" class="form-control" name="pintorEncargado"
                        th:field="*{pintorEncargado}" placeholder="pintorEncargado" required />

                </div>
            </div>



            <button type="submit" class="btn btn-success m-3">Guardar</button>





            <div class="form-row col-12">

                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>
                                <a class="btn btn-primary btn-lg m-1" th:href="@{/vehiculo/ingreso}">solicitud
                                    materiales</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-lg m-1" th:href="@{/otros-materiales/cargar/{id}(id=${vehiculo.id})}">otros materiales</a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a class="btn btn-primary btn-lg m-1"
                                    th:href="@{/solicitud-repuesto/pedido/{id}(id=${vehiculo.id})}">solicitud
                                    repuestos</a>

                            </td>
                            <td>

                                <a class="btn btn-primary btn-lg m-1" th:href="@{/vehiculo/ingreso}">ir a control de
                                    costos</a>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a class="btn btn-primary btn-lg m-1" th:href="@{/vehiculo/ingreso}">Compra Repuestos</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-lg m-1" th:href="@{/mano-de-obra/cargar/{id}(id=${vehiculo.id})}">Cargar mano de obra</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </form>



    </div>
</body>

</html>